In [57]:
import pandas as pd
import numpy as np

#pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_colwidth', 50)

df = pd.read_csv('../posts.tsv', sep='\t', header=0)
print(df.shape)
#df.head()

(26437, 9)

In [24]:
def targeted_age(msg):
    if 'age filter' in msg or 'age target' in msg or 'old age' in msg:
         return True
    return False

df['targeted_age'] = df['message_text'].apply(targeted_age)
temp = df[df['targeted_age'] == True]

print(temp.shape)

temp = pd.DataFrame(pd.pivot_table(temp, index=['message_text'], aggfunc=pd.Series.count).index)
print(temp.shape)

temp.to_csv('age.txt', sep=',', header=True, index=False)

(86, 10)

In [59]:
def calls_starting(msg):
    #'calls running'
    if 'calls available' in msg or 'calls running' in msg or 'calls live' in msg:
         return True
    return False

df['calls_starting'] = df['message_text'].apply(calls_starting)
calls_starting = df[df['calls_starting'] == True]

print(calls_starting.shape)

temp = pd.DataFrame(pd.pivot_table(calls_starting, index=['message_text'], aggfunc=pd.Series.count).index)
print(temp.shape)

temp.to_csv('calls_starting.txt', sep=',', header=True, index=False)

(2084, 10)
(535, 1)

In [68]:
import time

def get_day(timestamp):
    return time.strftime("%a", time.localtime(timestamp))
    
def get_date(timestamp):
    return time.strftime("%Y-%m-%d", time.localtime(timestamp))
    
def get_time(timestamp):
    #return time.strftime("%H:%M:%S", time.localtime(timestamp))
    return time.strftime("%H", time.localtime(timestamp))

datetime = pd.DataFrame()
datetime['day'] = calls_starting['timestamp'].apply(get_day)
datetime['date']  = calls_starting['timestamp'].apply(get_date)
datetime['time']  = calls_starting['timestamp'].apply(get_time)

In [69]:
pd.pivot_table(datetime, index=['day'], aggfunc=pd.Series.count)

     date  time
day
Fri   275   275
Mon   404   404
Sat   230   230
Sun    97    97
Thu   380   380
Tue   375   375
Wed   323   323

In [70]:
pd.pivot_table(datetime, index=['time'], aggfunc=pd.Series.count)

      date  day
time
00      77   77
01     108  108
02     110  110
03      89   89
04     152  152
05     185  185
06     167  167
07     118  118
08     144  144
09     219  219
10     157  157
11     130  130
12     111  111
13      73   73
14      44   44
15      43   43
16      13   13
17      16   16
18      13   13
19       8    8
20       2    2
21       7    7
22      40   40
23      58   58